.mail{
    flex: 1;
    background-color: whitesmoke;
}

.mail_tools{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
}

.mail_body_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.mail_body_header h2{
    font-weight: 400;
    margin-right: 20px;
}

.sender_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender_section_left{
    display: flex;
    align-items: center;
    justify-content: space-between;        
}

.sender_section_left h2{
    padding-left:10px; 
    font-weight: 500;
}

.sender_section_left span{
    padding-left:5px;
}

.sender_section_right > span{
    color: #818181;
}

.mail_body{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    height: 100vh;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.mail_message p{
    padding: 10px;
    padding-top: 40px;
    margin-right: 20px;
    overflow-wrap: break-word;
}