.email_list{
 flex: 1;
 overflow: scroll;  
 -ms-overflow-style: none;
 scrollbar-width: none;
}

/* hide scrollbar */
.email_list::-webkit-scrollbar {
    display: none;
}

.email_list_settings{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}
.email_list_sections{
   /* position: sticky;
   top: 0; */
   display: flex;
   background-color: white;
   border-bottom: 1px solid whitesmoke;
   z-index: 999;   
}   

.email_list_list{
    padding-bottom: 10%;
}

.dropdown_icon{
    right: 15px;
}